# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.sln
2021/cpp/.vs/CPP_AoC/project-colors.json
2021/cpp/.vs/CPP_AoC/v17/Browse.VC.db
2021/cpp/.vs/CPP_AoC/v17/
2021/cpp/bin-int/
